.lead{
    animation-name: leftToInitial;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.header .header__title{
    animation-name: rightToInitial;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes leftToInitial {
    from{
        translate: -40vw 0px;
    }
    to{
        translate:  0px 0px;
    }
}
@keyframes rightToInitial {
    from{
        translate: 40vw 0px;
    }
    to{
        translate:  0px 0px;
    }
}