*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

body{
    min-height: 100vh;
    max-width: 100vw;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}